/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: monospace;
}

body {
  padding: 0;
  line-height: inherit;
  font-family: monospace;
  --bg: #333;
  --fg: #ccc;
  --bgr: 37, 37, 37;
  --fgr: 218, 218, 210;
  background: var(--bg);
  color: var(--fg);
}

button {
  color: rgba(var(--fgr), 0.5);
  padding: 10px 16px;
  font-size: 18px;
  background: var(--bg);
  border: 1px solid rgba(var(--fgr), 0.5);
  transition: 150ms;
}
button:hover {
  color: rgba(var(--fgr), 1);
  border: 1px solid rgba(var(--fgr), 1);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
  height: 50vh;
  margin: 64px auto;
}
.top,
.bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}
.bottom {
  flex-direction: row;
}

@media (max-width: 1499px) {
  .bottom {
    flex-direction: column;
  }
  form {
    width: 100%;
  }
}
button {
  height: 45px;
}

.dropdown {
  position: relative;
}
ul {
  z-index: 9001;
  transition: 150ms;
  position: absolute;
  top: 48px;
  left: 0;
  list-style-type: none;
  border: 1px solid var(--fg);
  margin: 0;
  padding: 3px;
  background: var(--bg);
}
ul:not(.active) {
  pointer-events: none;
  opacity: 0.01;
}
.active {
  opacity: 0.99;
}
a {
  display: flex;
  padding: 8px;
  margin: 3px;
  color: inherit;
  text-decoration: none;
  border: 1px solid rgba(var(--fgr), 0.1);
}
a:hover {
  border: 1px solid rgba(var(--fgr), 1);
}

form {
  height: 45px;
  display: flex;
  /* justify-content: stretch; */
  /* align-items: stretch; */
  gap: 3px;
}
form button {
  flex: 1;
  height: 100%;
  padding: 0 11px;
}
input {
  color: rgba(var(--fgr), 1);
  padding: 10px;
  /* height: 100%; */
  flex: 4;
  /* padding: 10px 15px; */
  font-size: 18px;
  line-height: 18px;
  background: var(--bg);
  border: 1px solid rgba(var(--fgr), 0.5);
  transition: 150ms;
}
form:hover input,
form:hover button,
form:focus input,
form:focus button,
form:active input,
form:active button {
  color: rgba(var(--fgr), 1);
  border: 1px solid rgba(var(--fgr), 1);
}
